* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* START SCREEN */
#start-screen {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    color: white;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

#start-screen h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

#start-screen p {
    margin-bottom: 20px;
    color: #cbd5e1;
}

#start-btn {
    padding: 12px 25px;
    border: none;
    border-radius: 10px;
    background: #22c55e;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

#start-btn:hover {
    background: #16a34a;
    transform: scale(1.05);
}

/* QUIZ CONTAINER */
.container {
    display: none;
    background: white;
    width: 90%;
    max-width: 600px;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.3);
}

/* QUESTION */
#question {
    margin-bottom: 20px;
    font-size: 20px;
}

/* ANSWERS */
#answer-buttons button {
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border: none;
    border-radius: 10px;
    background: #f1f5f9;
    cursor: pointer;
    transition: 0.2s;
    font-size: 16px;
}

#answer-buttons button:hover {
    background: #e2e8f0;
}

/* NEXT BUTTON */
#next-btn {
    display: none;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: #3b82f6;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

#next-btn:hover {
    background: #2563eb;
}

/* RESULT STYLE */
.result {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

#progress-container {
    width: 0%;
    height: 10px;
    background: #22c55e;
    border-radius: 10px;
    transition: width 0.5s ease;
}

@media (max-width: 600px) {
    .container {
        width: 95%;
        padding: 20px;
    }

    #question {
        font-size: 18px;
    }

    #answer-buttons button {
        font-size: 14px;
    }
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.warning {
    color: red;
    font-weight: bold;
    animation: blink 0.5s infinite;
}

#player-name {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    margin-bottom: 20px;
    border:none;
    border-radius: 8px;
    font-size: 16px;
}

#leaderboard-container {
    display: none;
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

#leaderboard {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#leaderboard li {
    background: #f1f5f9;
    margin: 8px 0;
    padding: 10px;
    border-radius: 8px;
    font-weight: 500;
}